// Default content padding
// -----------------------

$paddingSmall: $spacingUnit * 2;
$paddingLarge: $spacingUnit * 4;

%padded {
    padding: $paddingSmall 0 ($paddingSmall - $spacingUnit);
}

%padded-double {
    @extend %padded;
    @include breakpoint(medium) {
        padding: $paddingLarge 0 ($paddingLarge - $spacingUnit);
    }
}
