// General Typesetting
// -------------------
body {
	color: $dark;
	font-family: $font;
}

// Headings
// --------

// General
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 900;
	line-height: 1.2;
}

p {
	margin: 0 0 $verticalRhythm;
}

// Small
h1 { @include baseHeadingFontSize(2.2em) }
h2 { @include baseHeadingFontSize(1.8em) }
h3 { @include baseHeadingFontSize(1.6em) }
h4 { @include baseHeadingFontSize(1.4em) }
h5 { @include baseHeadingFontSize(1.2em) }
h6 { @include baseHeadingFontSize(1em) }


%headings-following-paragraphs { margin-top: $verticalRhythm; }
@each $headingSize in $headingSizes {

	// Headings following paragraphs
	p, ul {
		& + #{$headingSize} {
			@extend %headings-following-paragraphs;
		}
	}

	// Headings following headings
	@each $headingSizeNested in $headingSizes {
		#{$headingSize} + #{$headingSizeNested} {
			@extend %headings-following-paragraphs;
		}
	}
}

// Paragraphs following headings
%paragraphs-following-headings { margin-top: $verticalRhythm / 2; }
@each $pElement in (p, ul) {
	h1, h2, h3, h4, h5, h6 {
		& + #{$pElement} {
			@extend %paragraphs-following-headings;
		}
	}
}

// Body Copy
// ---------
p, li {
	font-size: 1rem;
	line-height: 1.5;
}

// Links
// -----
a {
	transition: .2s ease all;
	text-decoration: none;
}

// Blockquotes
// -----------
blockquote {
	margin: 0;
	margin-bottom: $verticalRhythm;
	padding: 0;
	padding-left: 1rem;
	border-left: 5px solid $pink;

	p {
		color: $shadow;
		font-size: 1.25rem;
	}
}