// Typography
// ----------
$font: 'Helvetica', 'Arial', sans-serif;
$headingSizes: (h1, h2, h3, h4, h5, h6);

// Layout
// ------
$verticalRhythm: 1.5rem;
$spacingUnit: $verticalRhythm;

// FontAwesome Content Variables
// -----------------------------
$faAngleLeft: '\f104';
$faAngleRight: '\f105';
$faAngleUp: '\f106';
$faAngleDown: '\f107';

// Colours
// -------

// Theme colours
$primary: #27a2da;
$secondary: #1c769f;
$tertiary: #1c9f60;

$colors: (
    'primary': $primary,
    'secondary': $secondary,
    'tertiary': $tertiary
);

// Shader Colors
$white: hsl(0, 0, 100%);
$shade: hsl(0, 0, 95%);
$shadow: hsl(0, 0, 50%);
$dark: hsl(0, 0, 20%);
$black: hsl(0, 0, 0%);

// Shader helper variables
$shaders: (
    'white': $white,
    'shade': $shade,
    'shadow': $shadow,
    'dark': $dark,
    'black': $black
);

// Global helper colours
$globalColor: $black;
$globalColorLabel: 'black';
$globalColorIndex: 1;